<wo:if condition="$currentEntry.hasChildren"><wo:container elementName="a" name="$fragmentIdentifier" />
	<wo:WOImage filename="TransparentPixel.gif" height="1" width="$indentation" /><wo:link action="$currentEntry.toggleExpansion" fragmentIdentifier="$fragmentIdentifier"><wo:WOImage border="0" filename="$currentToggleImageName" /></wo:link>
	<wo:content /><wo:link action="$currentEntry.toggleExpansion" fragmentIdentifier="$fragmentIdentifier"><wo:str value="$^title" /></wo:link>
</wo:if>
<wo:if condition="$currentEntry.hasChildren" negate="$true">
	<wo:WOImage filename="TransparentPixel.gif" height="1" width="7" /><wo:WOImage filename="TransparentPixel.gif" height="1" width="$indentation" /><wo:content /><wo:str value="$^title" />
</wo:if>
