<!doctype html PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
	<head>
		<TITLE>WOEvent Display Page</TITLE>
	</head>
	<body bgcolor=#FFFFFF>
		<wo:if condition="$allowedToViewEvents" negate="$true"><h2 ALIGN=CENTER><FONT COLOR=#ff0000>This Request Requires A User Login</FONT></h2><br/><CENTER><wo:form>
			<TABLE border=1 cellPadding=2 cellSpacing=0 bgcolor="#f6ffff">
						<TR>
							<TD>
								<TABLE BORDER=0 WIDTH="80%">
									<TR align=CENTER>
		
										<TD> User </TD>
										<TD>
											<wo:textfield WIDTH="$12" value="$userName" />
										</TD>
									</TR>
									<TR align=CENTER>
										<TD> Password </TD>
										<TD>
											<wo:password WIDTH="$12" value="$password" />
										</TD>
									</TR>
									<TR>
										<TD></TD>
										<TD><wo:submit action="$submit" /></TD>
									</TR>
								</TABLE>
							</TD>
						</TR>
					</TABLE>
			<br/>
		</wo:form></CENTER></wo:if>
		<wo:if condition="$allowedToViewEvents">
			<P><wo:link directActionName="WOEventSetup">Set up logging</wo:link></P>
			<wo:if condition="$isEmpty" negate="$true"><wo:form multipleSubmit="$true"><wo:WORadioButton name="DisplayMode" selection="$displayMode" value="$0" />
					Show all root events<br/>
					<wo:WORadioButton name="DisplayMode" selection="$displayMode" value="$1" />
					Show aggregated hierarchical events<br/>
					<wo:WORadioButton name="DisplayMode" selection="$displayMode" value="$2" />
					Show events grouped by page, then by component<br/>
					<wo:WORadioButton name="DisplayMode" selection="$displayMode" value="$3" />
					Show events grouped by page<br/>
					<wo:WORadioButton name="DisplayMode" selection="$displayMode" value="$4" />
					Show events grouped by page, associations only<br/>
					<P>
						<wo:submit action="$refreshLoggingClicked" value="Redisplay" />&nbsp;&nbsp;&nbsp;<wo:submit action="$resetLoggingClicked" value="Reset Event Log" /></P></wo:form>
				<P ALIGN=LEFT><FONT SIZE=5><U>Current Event Log:<br/>
					</U></FONT><FONT SIZE=2>based on
					<wo:str value="$eventCount" />
					events -- spent
					<wo:str value="$eofEventDuration" />
					ms in
					<wo:str value="$eofEventCount" />
					events in EOF,
					<wo:str value="$webEventDuration" />
					ms in
					<wo:str value="$webEventCount" />
					events in WOF<br/>
					</FONT></P>
				<TABLE CELLSPACING=1 WIDTH=100% BGCOLOR=#eeeeee>
					<TR>
						<TD BGCOLOR=#888888><B>Title</B></TD>
						<TD BGCOLOR=#cccccc><B>Comment</B></TD>
						<TD ALIGN=right BGCOLOR=#cccccc><B>Time</B></TD>
						<TD ALIGN=right BGCOLOR=#cccccc><B>Calls</B></TD>
						<TD ALIGN=left BGCOLOR=#cccccc><B>Relative</B></TD>
					</TR>
					<wo:WXOutlineRepetition hasChildren="$isDirectory" item="$currentEvent" list="$rootEventList" selectionPath="$selectionPath" sublist="$currentEventChildren">
						<wo:WOSwitchComponent WOComponentName="$displayComponentName" controller="$self" displayMode="$displayMode" event="$currentEvent" object="$currentEvent">
						</wo:WOSwitchComponent>
					</wo:WXOutlineRepetition>
				</TABLE>
				<p/>
			</wo:if><wo:if condition="$isEmpty">The event log is empty.</wo:if>
			<HR>
			<P><wo:link directActionName="WOEventSetup">Set up logging</wo:link></P>
			<p/>
		</wo:if>
	</body>
</html>
