<script type="text/javascript"><wo:str value="$^id" />PeriodicalUpdater = null;</script>
<wo:AjaxUpdateContainer id="$^id" elementName="$elementName" class="$^class" style="$^style" frequency="$frequency" stopped="$^stopped" onRefreshComplete="$^onRefreshComplete"><wo:content /><script type="text/javascript">
if(<wo:str value="$^id" />PeriodicalUpdater != null) {
	<wo:if condition="$^isRunning">if(!<wo:str value="$^id" />PeriodicalUpdater.isRunning()) { 
		<wo:str value="$^id" />PeriodicalUpdater.start();
	}</wo:if><wo:if condition="$^isRunning" negate="$true">if(<wo:str value="$^id" />PeriodicalUpdater.isRunning()) { 
		<wo:str value="$^id" />Stop();
	}</wo:if>
}
</script></wo:AjaxUpdateContainer>