<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
	<head>
		<title>Event Logging Setup Page</title>
	</head>
	<body>
		
		<wo:if condition="$allowedToViewEvents"> <U><B><FONT SIZE=6>WOEvent Logging Setup</FONT></B></U>
			<P/><wo:link directActionName="WOEventDisplay">Show Event Log</wo:link><b><font size=6><br/>
			</font></b><font size=4>You have the following classes registered for
			logging:</font><wo:form multipleSubmit="$true">
				<table>
					<wo:repetition item="$currentClass" list="$registeredEventClasses"><wo:repetition index="$currentIndex" item="$currentEventDescription" list="$currentEventDescriptions">
							<tr>
								<td><wo:if condition="$isClassName">
										<wo:checkbox checked="$isClassRegisteredForLogging" />
									</wo:if><wo:if condition="$isClassName" negate="$true">&nbsp;</wo:if></td>
								<td><wo:str value="$currentEventDescription" /></td>
							</tr>
						</wo:repetition>
						<tr>
							<td>&nbsp;</td>
							<td>
								<hr/>
							</td>
						</tr>
					</wo:repetition>
				</table>
				<P/>
				<wo:submit action="$selectAll" value="Set To All" />&nbsp;&nbsp;&nbsp;<wo:submit action="$clearAll" value="Set To None" />&nbsp;&nbsp;&nbsp;<wo:submit value="Set As Selected" action="$submit" />
				<P/>
				<wo:link directActionName="WOEventDisplay">Show Event Log</wo:link></wo:form>
		</wo:if><wo:if condition="$allowedToViewEvents" negate="$true"><h2 ALIGN=CENTER><FONT COLOR=#ff0000>This Request Requires A User
			Login</FONT></h2><br/>
			<wo:form>
				<TABLE CELLPADDING="2" BORDER="1" BGCOLOR="#f6ffff" ALIGN="CENTER" CELLSPACING="0">
						<TR>
							<TD>
								<TABLE BORDER=0 WIDTH="80%">
									<TR align=CENTER>
										<TD> User </TD>
										<TD>
											<wo:textfield WIDTH="$12" value="$userName" />
										</TD>
									</TR>
									<TR align=CENTER>
										<TD> Password </TD>
										<TD>
											<wo:password WIDTH="$12" value="$password" />
										</TD>
									</TR>
									<TR>
										<TD></TD>
										<TD><wo:submit action="$submit" /></TD>
									</TR>
								</TABLE>
							</TD>
						</TR>
					</TABLE>
				<br/>
			</wo:form></wo:if>
		<p/>
	</body>
</html>
