<wo:form style="margin: 20px">
	<wo:popUpButton selection="$selectedExceptionClass" list="$application.exceptionManager.exceptionClasses" item="$currentExceptionClass" displayString="$currentExceptionClass.name" noSelectionString="All..." /> <wo:AjaxSubmitButton action="$filter" updateContainerID="exceptionsUC" value="Filter" />
</wo:form>

<wo:AjaxUpdateContainer elementName="span" id="exceptionsUC">
	<table class="table table-sm table-condensed table-striped table-bordered">
		<tr>
			<th>Date/time</th>
			<th>id</th>
			<th>Type</th>
			<th>Message</th>
		</tr>
		<wo:repetition list="$exceptions" item="$current">
			<tr>
				<td><wo:link action="$selectException"><wo:ERXDate value="$current.dateTime" /></wo:link></td>
				<td><wo:str value="$current.id" /></td>
				<td><wo:str value="$current.throwable.class.simpleName" /></td>
				<td><wo:str value="$current.throwable.message" /></td>
			</tr>
		</wo:repetition>
	</table>
	<wo:if condition="$selected">
		<h2>Stack trace</h2>
		<pre><wo:str value="$selected.stackTraceString" /></pre>

		<h2>Extra info</h2>
		<pre><wo:str value="$selected.extraInfoString" /></pre>
	</wo:if>
</wo:AjaxUpdateContainer>