<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
  <head>
    <title></title>
  </head>
  <body bgcolor = "#FFFFFF">
    <wo:if condition="$allowedToViewStatistics" negate="1">
      <center>
        <h2>
          <font color = "#FF0000">This Request Requires A User Login</font>
        </h2>
        <br/>
          <wo:form>
            <table border = "1" cellPadding = "2" cellSpacing = "0" bgcolor = "#f6ffff">
              <tr>
                <td>
                  <table border = "0" width = "80%">
                    <tr align = "CENTER">
                      <td>User</td>
                      <td>
                        <wo:textfield WIDTH="$12" value="$userName" />
                      </td>
                    </tr>
                    <tr align = "CENTER">
                      <td>Password</td>
                      <td>
                        <wo:password WIDTH="$12" value="$password" />
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>
                        <wo:submit action="$submit" />
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <br/>
          </wo:form>
      </center>
    </wo:if>
    <wo:if condition="$allowedToViewStatistics">
      <wo:form directActionName="WOStats">
        <table border = "0" width = "100%">
          <tr>
            <td align = "CENTER" colspan = "2">
              <H2>
                Statistics For
                <font color = "#FF0000">
                  <wo:str value="$application.name" />
                  <wo:if condition="$instance">
                    #
                    <font color = "#FF0000">
                      <wo:str value="$instance" />
                    </font>
                  </wo:if>
                </font>
                On Host
                <font color = "#FF0000">
                  <wo:str value="$host" />
                </font>
              </H2>
            </td>
          </tr>
          <tr>
            <td align = "CENTER">
              <wo:submit actionClass="ERXDirectAction" directActionName="stats" value="Refresh Page" />
            </td>
          </tr>
        </table>
      </wo:form>
      <hr />
      <br/>
        <center>
          <table border = "2" cellpadding = "4" cellspacing = "2" bgcolor = "#d0d0d0">
            <tr align = "CENTER" bgcolor = "#b0b0b0">
              <td colspan = "6">
                <font size = "+1">
                  <b>Application Statistics</b>
                </font>
              </td>
            </tr>
            <tr>
              <td>&nbsp</td>
              <td align = "CENTER">
                <font size = "-1">Transactions</font>
              </td>
              <td align = "CENTER">
                <font size = "-1">
                  Average Transaction
                  <br/>Time
                </font>
              </td>
              <td align = "CENTER">
                <font size = "-1">
                  Average Idle
                  <br/>Time
                </font>
              </td>
              <td align = "CENTER">
                <font size = "-1">
                  Moving Average*
                  <br/>Transaction Time
                </font>
              </td>
              <td align = "CENTER">
                <font size = "-1">
                  Moving Average*
                  <br/>Idle Time
                </font>
              </td>
            </tr>
            <tr>
              <td>Overall</td>
              <td align = "CENTER">
                <font color = "#0000FF">
                  <wo:str value="$transactions.Transactions" />
                </font>
              </td>
              <td align = "CENTER">
                <font color = "#0000FF">
                  <wo:str numberformat="0.000" value="$avgTransactionTime" />
                </font>
              </td>
              <td align = "CENTER">
                <font color = "#0000FF">
                  <wo:str numberformat="0.000" value="$avgIdleTime" />
                </font>
              </td>
              <td align = "CENTER">
                <font color = "#0000FF">
                  <wo:str numberformat="0.000" value="$movingAvgTransactionTime" />
                </font>
              </td>
              <td align = "CENTER">
                <font color = "#0000FF">
                  <wo:str numberformat="0.000" value="$movingAvgIdleTime" />
                </font>
              </td>
            </tr>
            <tr>
              <td>Component Actions</td>
              <td align = "CENTER">
                <font color = "#0000FF">
                  <wo:str value="$componentActionTransactions" />
                </font>
              </td>
              <td align = "CENTER">
                <font color = "#0000FF">
                  <wo:str numberformat="0.000" value="$avgComponentActionTransactions" />
                </font>
              </td>
              <td align = "CENTER">
                <font size = "-1">NA</font>
              </td>
              <td align = "CENTER">&nbsp</td>
              <td align = "CENTER">
                <font size = "-1">NA</font>
              </td>
            </tr>
            <tr>
              <td>Direct Actions</td>
              <td align = "CENTER">
                <font color = "#0000FF">
                  <wo:str value="$directActionTransactions" numberformat="#,000" />
                </font>
              </td>
              <td align = "CENTER">
                <font color = "#0000FF">
                  <wo:str numberformat="0.000" value="$avgDirectActionTransactions" />
                </font>
              </td>
              <td align = "CENTER">
                <font size = "-1">NA</font>
              </td>
              <td align = "CENTER">&nbsp</td>
              <td align = "CENTER">
                <font size = "-1">NA</font>
              </td>
            </tr>
            <tr>
              <td>Started at</td>
              <td colspan = "5">
                <font color = "#0000FF">
                  <wo:str dateformat="%H:%M:%S on %a, %b %d %Y %Z" value="$statsDict.StartedAt" />
                </font>
              </td>
            </tr>
            <tr>
              <td>Running time</td>
              <td colspan = "5">
                <font color = "#0000FF">
                  <wo:str value="$runningTime" />
                </font>
              </td>
            </tr>
          </table>
          <font size = "-1">
            * The sample size for Moving Averages is
            <font color = "#0000FF">
              <wo:str value="$movingAvgSampleSize" />
            </font>
            transactions.
          </font>
        </center>
        <hr />
        <center>
          <table border = "2" cellpadding = "4" cellspacing = "2" bgcolor = "#d0d0d0">
            <tr align = "CENTER" bgcolor = "#b0b0b0">
              <td colspan = "2">
                <font size = "+1">
                  <b>Sessions Statistics</b>
                </font>
              </td>
            </tr>
            <wo:WODictionaryRepetition dictionary="$sessionsDict" item="$currentItem" key="$currentKey">
              <tr>
                <td>
                  <wo:str value="$currentKey" />
                </td>
                <td align="right">
                  <font color = "#0000FF">
                    <wo:str numberformat="0.00" value="$currentItem" />
                  </font>
                </td>
              </tr>
            </wo:WODictionaryRepetition>
            <wo:if condition="$maxSessionsDate">
              <tr>
                <td colspan = "2">
                  Peak Concurrent Sessions at
                  <br/>
                    <font color = "#0000FF">
                      <wo:str dateformat="%H:%M:%S on %a, %b %d %Y %Z" value="$maxSessionsDate" />
                    </font>
                  
                </td>
              </tr>
            </wo:if>
          </table>
        </center>
        <br/>
          <center>
            <table border = "0" width = "100%">
<!--   spacer table - invisible   -->
              <tr>
                <td align = "CENTER">
                  <table border = "2" cellpadding = "4" cellspacing = "2" bgcolor = "#d0d0d0">
                    <tr align = "CENTER" bgcolor = "#b0b0b0">
                      <td colspan = "2">
                        <b>Memory Usage</b>
                      </td>
                    </tr>
                    <wo:WODictionaryRepetition dictionary="$memoryDict" item="$currentItem" key="$currentKey">
                      <tr>
                        <td>
                          <wo:str value="$currentKey" />
                        </td>
                        <td align = "RIGHT">
                          <font color = "#0000FF">
                            <wo:str formatter="$byteFormat" value="$currentItem" />
                          </font>
                        </td>
                      </tr>
                    </wo:WODictionaryRepetition>
                  </table>
                </td>
                <td align = "CENTER">
                  <table border = "2" cellpadding = "4" cellspacing = "2" bgcolor = "#d0d0d0">
                    <tr align = "CENTER" bgcolor = "#b0b0b0">
                      <td colspan = "2">
                        <b>Avg. Memory Usage Per Session (bytes)</b>
                      </td>
                    </tr>
                    <wo:WODictionaryRepetition dictionary="$sessionMemoryDict" item="$currentItem" key="$currentKey">
                      <tr>
                        <td>
                          <wo:str value="$currentKey" />
                        </td>
                        <td align = "RIGHT">
                          <font color = "#0000FF">
                            <wo:str formatter="$byteFormat" value="$currentItem" />
                          </font>
                        </td>
                      </tr>
                    </wo:WODictionaryRepetition>
                  </table>
                </td>
              </tr>
            </table>
          </center>
          <br/>
            <wo:if condition="$isLastUser">
              Response Descriptions For Last User :
              <br/>
                <center>
                  <table border = "2" cellpadding = "4" cellspacing = "2" bgcolor = "#d0d0d0" width = "80%">
                    <wo:repetition item="$currentItem" list="$sessionStats">
                      <tr>
                        <td>
                          <font color = "#0000FF">
                            <wo:str value="$currentItem" />
                          </font>
                        </td>
                      </tr>
                    </wo:repetition>
                  </table>
                </center>
              
            </wo:if>
            <hr />
            <center>
              <table border = "2" cellpadding = "4" cellspacing = "2" width = "80%" bgcolor = "#d0d0d0">
                <tr>
                  <td colspan = "5" align = "CENTER" bgcolor = "#b0b0b0">
                    <font size = "+1">
                      <b>
                        Component Action
							Statistics
                      </b>
                    </font>
                  </td>
                </tr>
                <tr align = "CENTER" bgcolor = "#d6d8df">
                  <td width = "20%">Name</td>
                  <td width = "50%">Served</td>
                  <td width = "10%">Min</td>
                  <td width = "10%">Avg</td>
                  <td width = "10%">Max</td>
                </tr>
                <wo:WODictionaryRepetition dictionary="$pagesDict" item="$currentItem" key="$currentKey">
                  <tr>
                    <td align = "CENTER">
                      <font color = "#0000FF">
                        <wo:str value="$currentKey" />
                      </font>
                    </td>
                    <td align = "left">
                      <wo:WOCompletionBar align="RIGHT" numberformat="0" value="$pageCount" valueMax="$maxPageCount" />
                    </td>
                    <td align = "CENTER">
                      <font color = "#0000FF">
                        <wo:str numberformat="0.000" value="$pageMin" />
                      </font>
                    </td>
                    <td align = "CENTER">
                      <font color = "#0000FF">
                        <b>
                          <wo:str numberformat="0.000" value="$pageAvg" />
                        </b>
                      </font>
                    </td>
                    <td align = "CENTER">
                      <font color = "#0000FF">
                        <wo:str numberformat="0.000" value="$pageMax" />
                      </font>
                    </td>
                  </tr>
                </wo:WODictionaryRepetition>
              </table>
            </center>
            <hr />
            <center>
              <table border = "2" cellpadding = "4" cellspacing = "2" width = "80%" bgcolor = "#d0d0d0">
                <tr>
                  <td colspan = "5" align = "CENTER" bgcolor = "#b0b0b0">
                    <font size = "+1">
                      <b>Direct Action Statistics</b>
                    </font>
                  </td>
                </tr>
                <tr align = "CENTER" bgcolor = "#d6d8df">
                  <td width = "20%">Name</td>
                  <td width = "50%">Served</td>
                  <td width = "10%">Min</td>
                  <td width = "10%">Avg</td>
                  <td width = "10%">Max</td>
                </tr>
                <wo:WODictionaryRepetition dictionary="$directActionsDict" item="$currentItem" key="$currentKey">
                  <tr>
                    <td align = "CENTER">
                      <font color = "#0000FF">
                        <wo:str value="$currentKey" />
                      </font>
                    </td>
                    <td align = "left">
                      <wo:WOCompletionBar align="RIGHT" numberformat="0" value="$actionCount" valueMax="$maxActionCount" />
                    </td>
                    <td align = "CENTER">
                      <font color = "#0000FF">
                        <wo:str numberformat="0.000" value="$actionMin" />
                      </font>
                    </td>
                    <td align = "CENTER">
                      <font color = "#0000FF">
                        <b>
                          <wo:str numberformat="0.000" value="$actionAvg" />
                        </b>
                      </font>
                    </td>
                    <td align = "CENTER">
                      <font color = "#0000FF">
                        <wo:str numberformat="0.000" value="$actionMax" />
                      </font>
                    </td>
                  </tr>
                </wo:WODictionaryRepetition>
              </table>
            </center>
            <hr />
            <center>
              <table border = "2" cellPadding = "4" cellspacing = "2" width = "80%" bgcolor = "#d0d0d0">
                <tr>
                  <td colspan = "3" align = "CENTER" bgcolor = "#b0b0b0">
                    <font size = "+1">
                      <b>
                        Detailed
							Statistics
                      </b>
                    </font>
                  </td>
                </tr>
                <tr align = "CENTER" bgcolor = "#d6d8df">
                  <td width = "40%">Response Description</td>
                  <td width = "50%">Percent Of Total</td>
                  <td width = "10%">Served</td>
                </tr>
                <wo:WODictionaryRepetition dictionary="$detailsDict" item="$currentItem" key="$currentKey">
                  <tr>
                    <td align = "CENTER">
                      <font color = "#0000FF">
                        <wo:str value="$currentKey" />
                      </font>
                    </td>
                    <td align = "left">
                      <wo:WOCompletionBar align="RIGHT" numberformat="0%" value="$detailPercent" />
                    </td>
                    <td align = "CENTER">
                      <font color = "#0000FF">
                        <wo:str value="$detailCount" />
                      </font>
                    </td>
                  </tr>
                </wo:WODictionaryRepetition>
              </table>
              <br/>
                <wo:if condition="$isLogPath">
                  <hr />
                  <br/>
                    Statistics Details Saved In Common Log Format In File
                    <font color = "#0000FF">
                      <wo:str value="$statsDict.LogFile" />
                    </font>
                  
                </wo:if>
                <hr />
                <center>
                  <table border = "2" cellpadding = "4" cellspacing = "2" width = "80%" bgcolor = "#d0d0d0">
                    <tr>
                      <td colspan = "5" align = "CENTER" bgcolor = "#b0b0b0">
                        <font size = "+1">
                          <b>ERX Stats (<wo:link actionClass="ERXDirectAction" directActionName="resetStats">reset</wo:link>, <wo:link actionClass="ERXDirectAction" directActionName="stats" ?showTraces="$1">show traces</wo:link>)</b>
                        </font>
                      </td>
                    </tr>
                    <tr align = "CENTER" bgcolor = "#d6d8df">
                      <td width = "10%">Count</td>
                      <td width = "10%">Min</td>
                      <td width = "10%"><b>Avg</b></td>
                      <td width = "10%">Max</td>
                      <td width = "10%">Sum</td>
                    </tr>
                    <wo:repetition list="$aggregateLogEntries" item="$aggregateLogEntry">
                      <tr>
                        <td colspan="5">
                          <wo:str value="$aggregateLogEntry.key" />
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <wo:WOCompletionBar align="RIGHT" numberformat="0" value="$aggregateLogEntry.count" valueMax="$aggregateLogEntries.@sum.count" />
                        </td>
                        <td>
                          <wo:str value="$aggregateLogEntry.min" numberformat="#,##0" />
                        </td>
                        <td>
                          <wo:str value="$aggregateLogEntry.avg" numberformat="#,##0.00" />
                        </td>
                        <td>
                          <wo:str value="$aggregateLogEntry.max" numberformat="#,##0" />
                        </td>
                        <td>
                          <wo:WOCompletionBar align="RIGHT" numberformat="0" value="$aggregateLogEntry.sum" valueMax="$aggregateLogEntries.@sum.sum" />
                        </td>
                      </tr>
                      <wo:if condition="$context.request.formValues.showTraces">
	                      <tr>
	                        <td colspan="5">
	                          <pre><wo:str value="$aggregateLogEntry.traces" /></pre>
	                        </td>
	                      </tr>
	                  </wo:if>
                    </wo:repetition>
                  </table>
                </center>
                <hr />
                <table width = "80%" border = "2" cellspacing = "2" cellpadding = "4" bgcolor = "#d0d0d0">
                  <tr>
                    <td colspan = "2" bgcolor = "#b0b0b0" align = "CENTER">
                      <font size = "+1">
                        <b>
                          Java VM
							Information
                        </b>
                      </font>
                    </td>
                  </tr>
                  <tr>
                    <td>Vendor</td>
                    <td>
                      <wo:link disabled="$vendorURLdisabled" href="$vendorURL" string="$vendorDescription" target="VENDOR_WINDOW" />
                    </td>
                  </tr>
                  <tr>
                    <td>JDK</td>
                    <td>
                      <wo:str value="$jdkVersion" />
                    </td>
                  </tr>
                  <tr>
                    <td>Operating System</td>
                    <td>
                      <wo:str value="$operatingSystem" />
                    </td>
                  </tr>
                </table>
            </center>
    </wo:if>
  </body>
</html>