<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Session Creation Error</title>
	</head>
	<body>
		<table border="0" width="100%">
			<tr>
				<td align="center" valign="top">
					<wo:img filename="exclamation.gif" framework="ERExtensions" /><br/>
					Re-enter<br/>
					<wo:link directActionName="default" target="_top"><b><wo:str value="$application.name" /></b></wo:link>
				</td>
				<td align="left" valign="middle">
					<b>Your session could not be created.</b>
				</td>
			</tr>
		</table>
	</body>
</html>