<wo:AjaxUpdateContainer id="$id" action="$refreshing">
	<wo:if condition="$fireStartedJavascriptEvent">
		<script>
		<wo:str value="$^startedFunction" />
		</script>
	</wo:if>
	<wo:if condition="$progressBarVisible">
		<table class = "progressBarContainer">
			<tr>
				<td><table class = "progressBar" width = "100%" cellspacing = "0">
							<tr>
								<wo:if condition="$progress.started">
									<wo:container elementName="td" width="$percentage" class="$finishedClass">&nbsp;</wo:container>
								</wo:if>
								<wo:if condition="$progress.done" negate="$true">
									<wo:container elementName="td" class="percentageUnfinished">&nbsp;</wo:container>
								</wo:if>
							</tr>
						</table></td>
			</tr>
			
			<tr>
				<td class = "progressSummary">
					<wo:if condition="$started">
						<wo:if condition="$progress.started" negate="$true"><wo:str value="$startingText" /></wo:if>
						<wo:if condition="$progress.canceled"><wo:str value="$cancelingText" /></wo:if>
					</wo:if>
					<wo:if condition="$progress.started">
						<wo:if condition="$progress.canceled" negate="$true">
							<wo:str value="$displayValue" /> <wo:str value="$progressOfText" /> <wo:str value="$displayMaximum" /><wo:if condition="$progress.status">, <wo:str value="$progress.status" /></wo:if>
							<wo:if condition="$^allowCancel">
								( <wo:AjaxUpdateLink updateContainerID="$id" action="$cancel" class="cancelAction" disabled="$done"><wo:str value="$cancelText" /></wo:AjaxUpdateLink> )
							</wo:if>
						</wo:if>
					</wo:if>
				</td>
			</tr>
		</table>
	</wo:if>
	<wo:if condition="$started">
		<wo:if condition="$done">
			<wo:if condition="$fireFinishedJavascriptEvents">
				<script>
					<wo:str value="$^finishedFunction" />
					<wo:if condition="$progress.canceled"><wo:str value="$^canceledFunction" /></wo:if>
					<wo:if condition="$progress.failed"><wo:str value="$^failedFunction" /></wo:if>
					<wo:if condition="$progress.succeeded"><wo:str value="$^succeededFunction" /></wo:if>
					<wo:str value="$id" />Update();
				</script>
			</wo:if>
		</wo:if>
		<wo:if condition="$done" negate="$true">
			<script>
			setTimeout("<wo:str value="$id" />Update()", <wo:str value="$refreshTime" />);
			</script>
		</wo:if>
	</wo:if>
	<wo:content />
</wo:AjaxUpdateContainer>