<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Route links</title>
	</head>
	<body>
		<h1>Route links (experimental)</h1>
		<ul>
			<li><wo:route route="$routes.search" :area="books" :q="$query" :more="$true" id="searchLink">Search books</wo:route></li>
			<li><wo:route route="$routes.search" :area="music" id="searchMusicLink">Search music, no query</wo:route></li>
			<li><wo:route route="$routes.item" :id="42" :tab="history" ?highlight="yes" id="itemLink">Item 42, history tab, plus a free query parameter</wo:route></li>
			<li>From Java: <wo:link href="$javaURL" id="javaLink"><wo:str value="$javaURL" /></wo:link></li>
		</ul>
		<p>Received: <strong id="received"><wo:str value="$received" valueWhenEmpty="(not rendered by a route)" /></strong></p>
	</body>
</html>
