<wo:container class="$hoverAreaClasses" elementName="div" style="$hoverAreaInlineStyle">
	<wo:content />
	<wo:if condition="$showHoverable">
		<wo:container id="$idStr" class="$toolTipClasses" elementName="div" style="$toolTipInlineStyle">
			<wo:if condition="$^toolTipImageData.toString">
				<wo:WOImage data="$^toolTipImageData" mimeType="$^toolTipImageMimeType" />
			</wo:if>
			<wo:if condition="$^toolTipImageFilename.toString">
				<wo:WOImage filename="$^toolTipImageFilename" framework="$^toolTipImageFramework" />
			</wo:if>
			<wo:if condition="$^toolTipMessage.toString">
				<wo:str escapeHTML="$false" value="$^toolTipMessage" />
			</wo:if>
			<wo:if condition="$useJavascriptForHoverEffect">
				<script>
					var hoverSetup = function () {
						var hoverToolTipElement = $('<wo:str value="$idStr" />');
						var hoverActionElement = hoverToolTipElement.up('.erxHoverArea');
						var hoverActionElementAnchor = new Element('div');
						hoverActionElement.insert(hoverActionElementAnchor);
						hoverActionElementAnchor.setStyle({position: 'absolute', zIndex: 1000});
						hoverActionElementAnchor.clonePosition(hoverActionElement);
						hoverActionElementAnchor.addClassName('hiddenHoverableShield');
						var hoverToolTipWidth = '<wo:str value="$toolTipWidth" />';
						var hoverOffsetX = <wo:str value="$useJavascriptOffsetX" />;
						var hoverOffsetY = <wo:str value="$useJavascriptOffsetY" />;
						
						hoverActionElementAnchor.observe('mouseover', erxToolTip.show.bind(hoverActionElementAnchor, hoverActionElement, 
							hoverToolTipElement.innerHTML, hoverToolTipWidth, hoverOffsetX, hoverOffsetY));
						hoverActionElementAnchor.observe('mouseout', erxToolTip.hide.bind(hoverActionElementAnchor));
					}
					
					<wo:if condition="$isAjaxRequest">
						hoverSetup();
					</wo:if>
					<wo:if condition="$isAjaxRequest" negate="$true">
						Event.observe(window, 'dom:loaded', hoverSetup);
					</wo:if>
				</script>
			</wo:if>
		</wo:container>
	</wo:if>
</wo:container>
