<!--

  -- [JavaWOExtensions Project]
-->
	<tr>
		<td BGCOLOR=#cccccc><wo:WXOutlineControl title="$hyperlinkTitle" /></td> 
		<wo:container elementName="td" bgcolor="$backgroundColor"><wo:str value="$bindingName" /></wo:container>
		<td align=right><wo:str value="$eventDuration" /></td> 
		<td align=right><wo:str value="$loopCount" /> </td> 
		<TD align=left nowrap><wo:WOImage filename="TransparentPixel.gif" height="1" width="108" /><br/><wo:WXBar fullWidth="$100" percentage="$percentOfMaxTime" /></TD>
	</tr>
