<wo:WOHiddenField value="$value" name="$^name" id="$fieldID" />
<wo:container elementName="$containerElementName" id="$containerID" class="_selectionList" href="javascript:void(0)">
	<wo:container elementName="$elementName" id="$id" class="$^class" style="$^style">
		<wo:repetition list="$list" item="$item">
			<wo:content />
		</wo:repetition>
	</wo:container>
</wo:container>
<script>
	var selectionList = new AjaxSelectionList('<wo:str value="$containerID" />');
	selectionList.setSelectionIndex(<wo:str value="$selectedIndex" />, false);
	selectionList.onchange = function(list) {
		$wi('<wo:str value="$fieldID" />').value = list.selectionIndex;
		<wo:if condition="$^onchange">
		<wo:str value="$^onchange" />
		</wo:if>
	}
	<wo:if condition="$^onselect">
	selectionList.onselect = function() { <wo:str value="$^onselect" /> }
	</wo:if>
	<wo:if condition="$^ondelete">
	selectionList.ondelete = function() { <wo:str value="$^ondelete" /> }
	</wo:if>
	<wo:if condition="$^focus">
		$wi('<wo:str value="$containerID" />').focus();
	</wo:if>
</script>