<wo:container elementName="$listElementName" id="$id" class="$^listClass" style="$^listStyle" otherTagString="data-morph-ignore=\"true\"">
	<wo:repetition list="$^list" item="$^item" index="$^index">
		<wo:container elementName="$listItemElementName" id="$listItemID" class="$^listItemClass" style="$^listItemStyle"><wo:content /></wo:container>
	</wo:repetition>
</wo:container>
<script type = "text/javascript" language = "javascript">
Sortable.create('<wo:str value="$id" />', <wo:AjaxOptions options="$createAjaxOptions" onUpdate="$onUpdate" />);
</script>