<wo:container border="$^border" cellpadding="0" cellspacing="0" elementName="TABLE" width="$width">
<TR>
<wo:if condition="$inProgress">
	<wo:container align="$align" bgcolor="$barColor" elementName="TD" nowrap="" width="$percentValue">
        <wo:container color="$backgroundColor" elementName="FONT" size="$2"><wo:str numberformat="$^numberformat" value="$value" /></wo:container>
    </wo:container>
	<wo:container bgcolor="$backgroundColor" elementName="TD" nowrap="" width="$percentNotValue">
        &nbsp;
    </wo:container>
</wo:if>

<wo:if condition="$inProgress" negate="$true">
    <wo:container align="$align" bgcolor="$notInProgressBackgroundColor" elementName="TD" nowrap="" width="$100">
        <wo:container color="$notInProgressColor" elementName="FONT" size="$2">
                <wo:str numberformat="$^numberformat" value="$value" />
        </wo:container>
    </wo:container>
</wo:if>
</TR>

</wo:container>
